/*
* Leaflet default 
*/
html, body, #mainmap, #map {
    height: 100%;
}

#mainmap, #map {
    position: absolute;
}

.leaflet-top, .leaflet-bottom {
  z-index:100 !important;
}
.klik {
  cursor:pointer;
}
.kaartlagen {
    display: block;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    background:white;
    z-index:1001;
}

.navbar.header {
    min-height: 0px;
    margin-bottom: 0px;
    background: white;
    border-bottom: solid 1px #e7e7e7;
}

.navbar-fixed-top.header {
    top: 50px;

}
ol.breadcrumb {
  margin: 3px;
  padding: 0px;
  background: white;
}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
.alles {
  position: absolute;
  top:80px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  overflow-x: hidden;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

hr.small {
  margin: 1px;
  margin-bottom:5px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 80px 0px 0px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    overflow: auto;

}
.kaart {
  min-height: 400px;
  top: 140px;
  width: 100%;
}
.kaarten {
    position: fixed;
    top: 110px;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.beelden p {
padding: 5px;
}

/*
 * Main content
 */

.main {
  padding: 10px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main .page-header {
  margin-top: 0;
}

.beeldcontent div {
  margin-bottom: 5px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  border-radius: 50%;
}

/*
 * login/loguit stylen
 */
 .form-signin, .form-signout {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox,
.form-signout .form-signout-heading,
.form-signout .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox,
.form-signout .checkbox {
  font-weight: normal;
}
.form-signin .form-control,
.form-signout .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus,
.form-signout .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/**
    Text Angular styles
**/
.ta-editor {
    height: 100%;

}
/*
Text Diff
*/
del { background-color: #a94442; color: white; text-decoration:line-through; }
ins { color: #dd0000; font-weight:bold; text-decoration: none;}

.delete { background-color: #fcf8e3; text-decoration:line-through; }
.insert { color: #dd0000; font-weight:bold; text-decoration: none;}


/**
    Map styles
**/

.map-holder {
    display:block;
    height:220px;
}

.seperator {
    height:0px;
    border:1px solid #999;
    margin:10px 50px;
}
/*mapmenu*/
.menu {
    font-size: 16px;
    font-weight: bold;
    fill: steelBlue;
    stroke: None;
    stroke-width: 1px;
    text-anchor: middle;
    opacity: 1;
}
.menu_shadow {
    font-size: 16px;
    font-weight: bold;
    fill: white;
    stroke: white;
    stroke-width: 3px;
    stroke-opacity: .8;
    text-anchor: middle;
    opacity: 1;
}
