
  .sidebar, .leaflet-control-container {
  display:none;
  }
  #map {
    height: 800px;
	page-break-before: always;
  }
  .fill, .main , .alles{
    height:initial;
    min-height: initial;
    position: initial;
	overflow: visible;
}
body, div {
    position: relative;
	margin: 5px; /* Chrome needs this margin to break page on correct place*/
  }
div.page  { 
	overflow: visible;
	margin-top: 20px;
}