<div  ng-controller='BeeldSideCtrl'>
<div class="list-group">
    <a  ui-sref-active="active" class="list-group-item "  ng-class="{'list-group-item-danger': beeld.updated}" ng-repeat="beeld in beelden"  ng-click="setRead(beeld)" ui-sref="incidenten.incident.beeld({beeldType:beeld.beeld})">{{beeld.title}}<span class="badge " ng-class="{hidden: !beeld.updated}" ng-click="setRead(beeld)"><span class=" glyphicon glyphicon-bell"></span></span><span class="clearfix"></span></a>
        
    
</div>
<div class="list-group" >
    <a class="list-group-item active" ng-class="{'list-group-item-danger':nieuwBericht&&isCollapsed}"  ng-click="isCollapsed = !isCollapsed">Berichten <span  ng-class="{ 'glyphicon-chevron-up':!isCollapsed,  'glyphicon-chevron-down':isCollapsed}" class="pull-right glyphicon"></span>  <span  ng-class="{ 'hidden':!nieuwBericht}" class="pull-right badge text-danger strong">{{nieuwBericht}}</span> <span class="clearfix"></span></a>
    <div class="list-group"  collapse="isCollapsed">
       <div ng-class="{'hidden':gesprek,'list-group-item-danger': user.updated}" class="list-group-item" ng-click="getBerichten(user)"  ng-repeat="user in data.users | orderBy:'online':true">
            {{user.name}} 
            <span class="pull-right" >
                <span class="glyphicon" ng-class="{'glyphicon-ok-sign': user.online, 'glyphicon-minus-sign': !user.online,'text-danger':!user.online, 'text-success':user.online}"></span><span class="glyphicon" ng-class="{'glyphicon-bell': user.updated}"></span>
            </span>
        </div>
        
        <div class="panel-primary" ng-class="{'hidden':!gesprek}">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-chevron-left" ng-click="gesprek=false"></span>
                 {{discussie}} 
                <span class="clearfix"></span>
            </div>   
            <div class="panel-body" >
                <p ng-repeat="item in filteredItems = (data.itemlist | filter:data.nondeleted | berichtfilter:data.user:discussie ) " ng-class="{'text-right':item.data('naar')==discussie,'text-success':item.data('naar')==discussie,'text-info':item.data('naar')!=discussie}">{{item.data('bericht')}}</p>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="chat" >
                  <span class="input-group-addon btn" ng-click="sendMessage()"><span class="glyphicon glyphicon-comment"></span></span>
                </div>
            </div> 
        </div>
    </div>
</div>
