<div  ng-controller='BeeldSideCtrl'>
<div class="list-group">
    <a  ui-sref-active="active" class="list-group-item " ng-class="{'list-group-item-danger': beeld.updated}" ng-repeat="beeld in beelden"  ui-sref="incidenten.incident.beeld({beeldType:beeld.beeld})">{{beeld.title}}<span class="badge " ng-class="{hidden: !beeld.updated}" ng-click="setRead(beeld)"><span class=" glyphicon glyphicon-bell"></span></span><span class="clearfix"></span></a>
        
    
</div>
<div class="panel panel-info">
  <div class="panel-heading">Online:</div>
    <div class="list-group" >
        <table>
       <tr class="list-group-item" ng-repeat="user in data.users | orderBy:'online':true "><td>{{user.name}} </td><td>{{user.online}}</td></tr>
   </table>
    </div>
</div>
</div>