
<ul class="list-group">
  <li class="list-group-item list-group-item-danger">
    <span class="badge">1</span>
     <a ui-sref="incidenten.incident.beeld.text({beeldType:'situatie'})">Situatie</a>
  </li>
  <li class="list-group-item">
    
     <a ui-sref="incidenten.incident.beeld.text({beeldType:'meldingen'})">Meldingen</a>
  </li>
  <li class="list-group-item">
    
     <a ui-sref="incidenten.incident.beeld.text({beeldType:'wat'})">Operationeel (WAT)</a>
  </li>
  <li class="list-group-item">
    
     <a ui-sref="incidenten.incident.beeld.text({beeldType:'wot'})">Tactisch (WOT)</a>
  </li>
  <li class="list-group-item list-group-item-danger">
    <span class="badge">5</span>
     <a ui-sref="incidenten.incident.beeld.text({beeldType:'wbt'})">Strategisch (WBT)</a>
  </li>
   
</ul>
