<div class="row" >
  <div class="col-sm-6 col-md-6 col-lg-5">
  	<a ui-sref="incidenten.incident.beeld.text">text</a>
    <div class="list-group">
    <div class="list-group-item" ng-repeat="onderdeel in currentBeeld.beeldonderdeel" >
      <h5 class="list-group-item-heading text-primary"> {{onderdeel.title}} 
        <a class="pull-right glyphicon" ng-click="editItem(onderdeel.isedit)" ng-class="{'glyphicon-pencil': !onderdeel.isedit, 'glyphicon-ok': onderdeel.isedit}"></a>
        <a class="pull-right glyphicon" ng-click="cancelEdit()" ng-class="{'hidden': !onderdeel.isedit, 'glyphicon-remove': onderdeel.isedit}"></a>
      </h5>
      <hr class="small"/>
      <p class="list-group-item-text" contenteditable="{{onderdeel.isedit}}" ng-class="{'well': onderdeel.isedit}"  ng-bind-html="onderdeel.content"></p>
    </div>
        
    
</div>
 
  </div>
  
  <div class="col-sm-6  col-md-6 col-lg-7 kaart"   ng-controller="LeafletController">
    <a ui-sref="incidenten.incident.beeld.kaart">kaart</a><br>
    <leaflet center="utrecht" height="480px" width="640px" layers="layers"></leaflet>
    <h4><strong ng-bind="eventDetected"></strong> caught in listener.</h4>
    <button  ng-click="initmap()">InitMap</button>
    <button  ng-click="drawPoint()">Draw point</button>
    <button  ng-click="drawLine()">Draw line</button>
    <button  ng-click="drawPolygon()">Draw polygon</button>
  </div>
</div>
