<div class="row" >
  <div class="col-sm-6 col-md-6 col-lg-5">
  	<a ui-sref="incidenten.incident.beeld.text">text</a>
   <!-- <dl>
      <beeld  ng-repeat="txt in currentBeeld.beeldonderdeel">
        <dt>{{txt}}<span class="pull-right btn btn-link"><span class="glyphicon glyphicon-pencil"></span></span></dt>
	    <dd class="well"></dd>
 	  </beeld>
  	</dl> -->
    <!--
  	<div class="panel panel-default"  ng-repeat="onderdeel in currentBeeld.beeldonderdeel">
	  <div class="panel-heading">
    	<h3 class="panel-title">{{onderdeel.title}}<span class="pull-right btn  text-success "><span class="glyphicon glyphicon-ok"></span></span><span class="pull-right btn  text-danger "><span class="glyphicon glyphicon-remove"></span></span><span class="pull-right btn btn-link"><span class="glyphicon glyphicon-pencil"></span></span></h3>
  	  </div> 
	  <div class="panel-body" contenteditable="true">
	    {{onderdeel.content}}
	  </div>
	</div>-->
<div class="list-group">
    <div class="list-group-item" ng-repeat="onderdeel in currentBeeld.beeldonderdeel" is-edit="isedit">
     <h5 class="list-group-item-heading text-primary"> {{onderdeel.title}} <a class="pull-right glyphicon" ng-class="{'glyphicon-pencil': !isedit, 'glyphicon-chevron-right': isedit}"></a></h5><hr class="small"/>
      <p class="list-group-item-text" contenteditable="isedit" ng-class="{'well': isedit}">{{onderdeel.content}}</p>
    </div>
        
    
</div>
 
  </div>
  
  <div class="col-sm-6  col-md-6 col-lg-7 kaart"   ng-controller="LeafletController">
    <a ui-sref="incidenten.incident.beeld.kaart">kaart</a><br>
    <leaflet center="center" height="400px" width="100%" markers="markers" paths='paths' layers="layers" events="events"></leaflet>
    <button  ng-click="drawPoint()">Draw point</button>
    <button  ng-click="drawLine()">Draw line</button>
    <button  ng-click="drawPolygon()">Draw polygon</button><br>
    
    <img class="media-object" alt="" width="25" ng-src="./images/mapicons/{{currentstyle.icon.url}}"/>
    <span class="dropdown">
      <a class="media-object dropdown-toggle">Dropdown</a>
      <ul class="dropdown-menu media-list">
        <li class="media" ng-repeat="(key, icon) in icontypes" ng-click="currentstyle.icon=icon">
          <span class="pull-left">
            <img class="media-object" alt="" width="25" ng-src="./images/mapicons/{{icon.url}}"/>
          </span>
          <div class="media-body">
            <h4 class="media-heading">{{icon.text}}</h4>
        </li>
      </ul>
    </span>
    </div>
  </div>
</div>
