<!--
Voeg hier logica toe om een login te tonen als de gebruiker niet is ingelogd

Vervolgens als de gebruiker is ingelogd maar niet een incident heeft gekozen: redirect naar incident
-->
<div class="row" ng-controller="BerichtCtrl">
    <div class="col-sm-3 col-md-2 sidebar">

    <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="''">Alles</button>
        <button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'feature'">Feature</button>
       
    </div>
   
    
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row" >
       <table class="table table-striped">
        <tr ng-repeat="item in itemStore.items | type:radioModel" >
            <td>{{item.data('msg') || 'geen msg' }} </td><td>{{item.data('type') || 'geen type' }} </td><td> {{item.updated() | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
        </tr>

       </table>
   </div>
    </div>
</div>   