<div class="container-fluid">
    <div class="row" ng-controller="HeaderCtrl">
	<div class="col-sm-10 col-md-10 col-lg-10 hidden-print">
        <ol class="breadcrumb">
            <!--li ng-repeat="state in $state.$current.path">
                <a href="#{{state.url.format($stateParams)}}">{{state.data.title}}</a>
                <span ng-hide="$last" class="divider">/</span>
            </li-->
            <li >
                <a ng-click="goHome()">Home</a>
                <span ng-hide="$last" class="divider"></span>
            </li>
            <li >
                <a ng-click="goToIncidents()" class="klik">Incidenten</a>
                <span ng-hide="$last" class="divider"></span>
            </li>
        </ol>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2 hidden-print">
        <a ng-click="print()" class="btn btn-primary btn-xs">Export voor LCMS</a>
		</div>
    </div>
</div>