<div class="container-fluid">
    <div class="row" ng-controller="HeaderCtrl">
        <ol class="breadcrumb">
            <!--li ng-repeat="state in $state.$current.path">
                <a href="#{{state.url.format($stateParams)}}">{{state.data.title}}</a>
                <span ng-hide="$last" class="divider">/</span>
            </li-->
            <li >
                <a ng-click="goHome()">Home</a>
                <span ng-hide="$last" class="divider"></span>
            </li>
            <li >
                <a ng-click="goToIncidents()" class="klik">Incidenten</a>
                <span ng-hide="$last" class="divider"></span>
            </li>
        </ol>
    </div>
</div>