<div class="row">
  <table class="table table-striped">
    <tr  ng-repeat="project in projecten | orderBy:['data(\'type\').id','data(\'status\').id','timestamp']" ng-click="setProject(project)">
      <td ui-sref='incidenten.incident.beeld({incidentID:project.id(),beeldType:"situatie"})'>{{project.data('name') || project.id()}} </td>
      <td> {{project.data('type').name}} </td>
      <td> {{project.data('status').name}} </td>
      <td> {{project.timestamp() | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
      <td><a class="pull-right glyphicon" ui-sref='incidenten.incident.beeld({incidentID:project.id(),beeldType:"situatie"})' ng-class="{'glyphicon-pencil': true}"></a></td>
    </tr>
  </table>
    <div>
        <button class="btn btn-default" ng-click="open(null)">Nieuw Incident</button>
    </div>
</div>