<a ui-sref="incidenten.incident.beeld">tekst</a>

<div class="row">
  <!--- MAP --->
  
  <div class="col-sm-12  col-md-12 col-lg-12"   ng-controller="LeafletController">
    <div class="row">
      <div class="col-sm-4 col-md-2 col-lg-2">
          <h3>Lagen</h3>
          <accordion close-others="false">
            <accordion-group heading="{{group}} ({{layers.length}})" ng-repeat="(group, layers) in leafletService.layers.baselayers">
                    <span class="btn btn-default btn-sm btn-block text-left" ng-class="val.buttonclass" ng-repeat="(key, val) in layers" ng-click="toggleLayer(val)">{{val.layer.name}}</span>
            </accordion-group>
          </accordion>
          <accordion close-others="false">
            <accordion-group heading="{{group}} ({{layers.length}})" ng-repeat="(group, layers) in leafletService.layers.overlays">
                    <span class="btn btn-default btn-sm btn-block text-left" ng-class="val.buttonclass" ng-repeat="(key, val) in layers" ng-click="toggleOverlay(val)">{{val.layer.name}}</span>
            </accordion-group>
          </accordion>
      </div>
      <div  class="col-sm-8 col-md-10 col-lg-10">
          <span class="dropdown">
        <button class="btn btn-primary" type="button" ng-click="drawPoint(currentstyle.icon)">
            <img alt="" width="29" ng-src="./images/mapicons/{{currentstyle.icon.url}}"/>
        </button>
        <button class="btn dropdown-toggle btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
            <div>
              <span ng-repeat="(key, icon) in icontypes" ng-click="drawPoint(icon)">
                <img alt="{{icon.text}}" width="29" ng-src="./images/mapicons/{{icon.url}}"/>
              </span>
            </div>
            </li>
        </ul>
        </span>
        <span class="dropdown">
        <button class="btn btn-primary" type="button" ng-click="drawLine(currentstyle.line)">
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"    xmlns="http://www.w3.org/2000/svg" version="1.1" width="29" height="29"><g  transform="translate(-27.086869,-417.52882)"><path   transform="translate(27.086869,429.63625)" d="M 7.3188002,12.071144 23.749999,2.4282866 10.267857,-1.9467135 20.401786,-5.8306419" style="stroke:{{currentstyle.line.stroke}};stroke-width:2;fill:none;" /></g></svg>
        </button>
        <button class="btn dropdown-toggle btn-primary" type="button" id="dropdownMenu2" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
            <li role="presentation">
            <div>
              <span ng-repeat="(key, line) in linestyles" ng-click="drawLine(line)">
                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"    xmlns="http://www.w3.org/2000/svg" version="1.1" width="29" height="29"><g  transform="translate(-27.086869,-417.52882)"><path   transform="translate(27.086869,429.63625)" d="M 7.3188002,12.071144 23.749999,2.4282866 10.267857,-1.9467135 20.401786,-5.8306419" style="stroke:{{line.stroke}};stroke-width:2;fill:none;" /></g></svg>
              </span>
            </div>
            </li>
        </ul>
      </span>
      
      <span class="dropdown">
        <button class="btn btn-primary" type="button" ng-click="drawPolygon(currentstyle.polygon)">
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"    xmlns="http://www.w3.org/2000/svg" version="1.1" width="29" height="29"><g  transform="translate(-27.086869,-417.52882)"><path d="M 2.7731138,5.3788833 14.252526,11.064017 26.527918,3.1859009 20.874459,-6.2398619 7.3960719,-3.9366059 z" transform="translate(27.086869,429.63625)"      style="fill:{{currentstyle.polygon.fill}};fill-opacity:0.7;stroke:{{currentstyle.polygon.stroke}};stroke-width:1;" /></g></svg>
        </button>
        <button class="btn dropdown-toggle btn-primary" type="button" id="dropdownMenu3" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
            <li role="presentation">
            <div>
              <span ng-repeat="(key, poly) in polygonstyles" ng-click="drawPolygon(poly)">
                <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"    xmlns="http://www.w3.org/2000/svg" version="1.1" width="29" height="29"><g  transform="translate(-27.086869,-417.52882)"><path d="M 2.7731138,5.3788833 14.252526,11.064017 26.527918,3.1859009 20.874459,-6.2398619 7.3960719,-3.9366059 z" transform="translate(27.086869,429.63625)"      style="fill:{{poly.fill}};fill-opacity:0.7;stroke:{{poly.stroke}};stroke-width:1;" /></g></svg>
              </span>
            </div>
            </li>
        </ul>
      </span>
      <button type="button" class="btn btn-primary" ng-model="chronos" ng-change="toggleChronos()" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
        Chronologie
      </button>
      <span ng-model="mytime" ng-change="timechanged()" ng-show="chronos" style="display:inline-block;">
        <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
      </span>
      <leaflet center="initcenter" defaults="defaults" height="800px" width="100%" markers="markers" paths='paths' layers="layers" events="events"></leaflet>
      </div>
      </div>
</div>
</div>
