<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-5">
            <div class='container-fluid' ng-controller="UserCtrl">
                <h4>Login op het ICMs </h4>
                <input type="text" ng-model="data.user" typeahead="user.name for user in data.users | filter:$viewValue | limitTo:8" typeahead-editable='false' typeahead-on-select="onSelect($item)" class="form-control">
                <p/>
                <div class="btn-group pull-right">
                <button type="button" class="btn btn-danger" ng-click="data.user=''">Annuleer</button><button type="button" class="btn btn-success" ui-sref="incidenten">Login</button>
            </div>
           </div>
       </div>
   </div>
</div> <!-- /container -->
