<div ng-controller="UserCtrl" class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >
    <div class="row">
        <h4>Login op het ICMs </h4>
        <input type="text" ng-model="loginName" autofocus="true" typeahead="user.name for user in data.users | filter:$viewValue | limitTo:8" typeahead-editable='true' typeahead-on-select="onSelect($item)" class="form-control">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-danger" ng-click="data.user=''">Annuleer</button>
            <button type="button" class="btn btn-success" ng-click="login()" ng-disabled="loginName === ''">Login</button>
        </div>
    </div>
    <div class="row">
        <div class="row alert alert-warning alert-dismissable"  ng-hide="!confirmNewUser">
            <h3>Gebruiker toevoegen?</h3>
            <p>Wilt u de gebruiker '{{loginName}}' aanmaken?</p>
            <br>
            <button class="btn" ng-click="newUserCancel()">Annuleer</button>
            <button class="btn btn-success" ng-click="newUser()" >Maak nieuwe gebruiker aan</button>
        </div>
    </div>
    <div class="row">
        <h4>Syncing progress</h4>
        <div ng-controller="SyncCtrl">
            <span>Projects</span>
            <progressbar max="100" value="syncedprojects"><span style="color:black; white-space:nowrap;">{{curprojects}} ( {{queuedProjects}} )</span></progressbar>
            <span>Users</span>
            <progressbar max="100" value="syncedusers"><span style="color:black; white-space:nowrap;">{{curusers}} ( {{queuedUsers}} )</span></progressbar>
            <span>Peers</span>
            <progressbar max="100" value="syncedpeers"><span style="color:black; white-space:nowrap;">{{curpeers}} ( {{queuedPeers}} )</span></progressbar>
        </div>
    </div>
</div>
