<div class="container-fluid">
  <div class="collapse navbar-collapse" ng-controller="HeaderCtrl">
    <ul class="nav navbar-nav">   
      <li>
        <a href="#" role="button" class="navbar-brand">
          ICM
        </a>
      </li>
      <li ng-if="data.peerlist.length>0">
        <p ng-if="data.user!=''"  class="navbar-text"><a ui-sref="logout"><span class="glyphicon glyphicon-ok-sign text-success" title="online"></span> Gebruiker: {{data.user}}</a></p>
        <p ng-if="data.user==''"  class="navbar-text"><a ui-sref="login"><span class="glyphicon glyphicon glyphicon-remove-sign text-danger" title="online"></span><strong class="text-danger"> U bent niet ingelogd</strong></a></p>
         
      </li>
      <li ng-if="data.peerlist.length==0"> <p class="navbar-text  text-danger"><span class="glyphicon glyphicon-off text-danger" title="offline"></span> De netwerkverbinding is verbroken.</p>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <p ng-if="data.incident!=''" class=" navbar-text">Incident: {{data.incident}}</p>
      </li>
    </ul>
  </div>
</div>
     
        
      