<div class="row" class="col-sm-12 col-md-12 col-lg-12">  
    <a ui-sref="incidenten.incident.beeld" class="pull-right">< beeld</a>
</div>
<div class="row" >
  <div class="col-sm-12 col-md-12 col-lg-12">    
    <div class="list-group">
    <div class="list-group-item" ng-repeat="onderdeel in currentBeeld.beeldonderdeel" >
      <h5 class="list-group-item-heading text-primary"><span  ng-click="editItem(onderdeel.isedit,true)">{{onderdeel.title}}</span>
        <a class="pull-right glyphicon" ng-click="editItem(onderdeel.isedit)" ng-class="{'glyphicon-pencil': !onderdeel.isedit, 'glyphicon-ok': onderdeel.isedit, 'text-success': onderdeel.isedit}"></a>
        <a class="pull-right glyphicon text-danger" ng-click="cancelEdit()" ng-class="{'hidden': !onderdeel.isedit, 'glyphicon-remove': onderdeel.isedit}"></a>
      </h5>
      <hr class="small"/>
      <div class="alert alert-warning alert-dismissable" ng-class="{'hidden':onderdeel.zeker}">
  <button type="button" class="close" ng-click="onderdeel.zeker = true" >&times;</button>
  Klik nogmaals op annuleren om de wijzigingen ongedaan te maken
</div>

      <p class="list-group-item-text" ng-class="{'hidden': onderdeel.isedit}"  ng-bind-html="onderdeel.content" ></p>
      <p class="list-group-item-text well" contenteditable ng-class="{'hidden': !onderdeel.isedit}"  ng-model="onderdeel.contentedit" ></p>
    </div>
</div>
 
  </div>
  
  
</div>
